{% extends "base.html"%}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

<!-- Hero image -->
  <header class="container-fluid text-center h-100">
    <div class="row h-100 ">
        <div class="col-12 hero-home ">
            <div class="mt-5 text-center ">
                <a href="" class="test-now-button btn-lg text-uppercase py-3">Take the Test</a>
                <a href="{% url 'products' %}" class="button btn-lg text-uppercase py-3">Shop now</a>
            </div>
        </div>
    </div>
  </header>
 <!--/.Hero image --> 

<!-- How it works timeline -->
<div class="py-5 text-center container">
  <section class="row py-lg-3">
      <div class="col-lg-12 col-md-8 mx-auto">
        <div class="bg-title">
          <hr>
          <h2 class="fw-light">How it works</h2>
          <hr>
        </div> 
          <p class="lead text-muted">Need some help to know what you need ? Take the test and discover your monthly customized vitamins routine for free. 
            You can also directly get your vitamins and supplements from our shop.</p>
      </div>
    </section>

  <div class="container">
    <div class="timeline-page mt-5">
        <div class="timeline-item">
            <div class="row py-lg-3">
                <div class="col-lg-6">
                    <div class="duration date-label-left d-none d-lg-block">
                        <img src="{{MEDIA_URL}}step_1.png" class="img-fluid step-image" width = "400" height = "200" style="border-radius: 2%;" alt="a leaf">
                    </div>
                </div>
                <div class="col-lg-6">
                  <hr>
                  <i class="fas fa-pencil-alt fa-3x icon"></i>
                  <hr>
                  <div>
                      <h4>Tell us about yourself</h4>
                  </div>
                  <div class="works works-description-right">
                      <p>Tell us a little about yourself by taking the test. We’re good listeners. Our team of nutritionnists experts is happy to assist in building your customized plan.</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="row py-lg-3">
                <div class="col-lg-6">
                  <hr>
                  <i class="fas fa-pills fa-3x icon"></i>
                  <hr>
                  <div>
                    <h4>Get your vitamins package</h4>
                  </div>
                    <div class="works works-description-center">
                        <p> Get your personalized recommendation depending of your needs and your health goal. Backed by science and delivered to you.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="duration date-label-left d-none d-lg-block">
                      <img src="{{MEDIA_URL}}step_2.png" class="img-fluid" width = "800" height = "400" style="border-radius: 2%;" alt="vitamin">
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="row py-lg-3">
                <div class="col-lg-6">
                    <div class="duration date-label-left d-none d-lg-block">
                      <img src="{{MEDIA_URL}}step_3.png" class="img-fluid" width = "500" height = "250" style="border-radius: 2%;" alt="vitamins">
                    </div>
                </div>
                <div class="col-lg-6">
                  <hr>
                    <i class="fas fa-chart-line fa-3x icon"></i>
                  <hr>
                  <div>
                    <h4>Follow up with your care</h4>
                  </div>
                    <div class="works works-description-right">
                        <p>Keep the conversation going. We are here at every stage of your journey to a better you. We’ll adjust as your health needs change.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
    <div class="row py-lg-3">
      <div class="col-12 ">
        <div class="mt-5 text-center ">
            <a href="" class="test-now-button btn-lg text-uppercase py-3">Take the Test</a>
        </div>
    </div>
</div>
<!--/. How it works timeline --> 


<!-- CTA Register / Login -->
  <section class="py-5 text-center container-fluid">
    <div class="row py-lg-3">
      <div class="col-lg-12 col-md-8 mx-auto">
        <div class="bg-title">
          <hr>
          <h2 class="fw-light">Join Basic Vits community</h2>
          <hr>
        </div>
          <p>
            <p class="lead text-muted">Share your experience with the Basic Vits community. Leave product review and help each others evolve to a best self. Every registered member gets free delivery for orders above 20 euros.</p>
          </p>
      </div>
    </div>
  </section>

      <div class="container py-5 text-left ">
          <div class="row mb-2">
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 ms-4 shadow-sm h-md-150 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-title-review">Basic Vits Subscription : Joints</strong>
                  <h3 class="mb-0 persona-title">Luke's plan</h3>
                  <div class="mb-1 text-muted">Full time dad</div>
                      <ul>
                        <li>Tumeric</li>
                        <li>Veggie Omega</li>
                        <li>Magnesium</li>
                        <li>Extra Batteries</li>
                      </ul>
                  <p class="card-text mb-auto">Luke’s daughter keeps him busy, and he gives his best each time they play basket-ball together.</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img class="testimony-picture mt-5 mr-3" src="{{ MEDIA_URL }}testimony-1.jpeg" width = "250" height = "250" alt="a man smiling">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 ms-4 shadow-sm h-md-150 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-title-review">Basic Vits Subscription : Energy </strong>
                  <h3 class="mb-0 persona-title">Lucie's plan</h3>
                  <div class="mb-1 text-muted">Tourist Guide</div>
                      <ul>
                        <li>Vitamin C</li>
                        <li>Superberry</li>
                        <li>Zinc</li>
                        <li>Probiotic Blend</li>
                      </ul>
                  <p class="mb-auto">Lucie is always on the go to dicover the world and give herself 100 % when sharing with the people around her.</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img class="testimony-picture mt-5 mr-3" src="{{ MEDIA_URL }}testimony-2.jpeg" width = "250" height = "250" alt="a woman smiling">
                </div>
              </div>
            </div>
          </div>
          <div class="row py-lg-3">
            <div class="col-12 ">
              <div class="mt-5 text-center ">
                {% if user.is_authenticated %}
                <a class="button btn-lg text-uppercase py-3" href="{% url 'profile' %}">My Account</a>  
                {% else %} 
                <a class="button btn-lg text-uppercase py-3" href="{% url 'account_signup' %}">Register</a>
                {% endif %}   
              </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
