{% extends "base.html"%}
{% load static %}

{% block page_header %}

<div class="container header-container">
  <div class="row">
      <div class="col"></div>
  </div>
</div>

{% endblock %}

{% block content %}

  <!--Hero image -->
  <header class="container-fluid text-center h-100 header-container ">
    <div class="row ">
        <div class="col-12 hero-home ">
            <div class="mt-5 text-center ">
                <a href="" class="test-now-button btn-success btn-lg py-3">Take the test</a>
                <a href="{% url 'products' %}" class="shop-now-button btn-primary btn-lg py-3">Shop now</a>
            </div>
        </div>
    </div>
  </header>
  <!--Hero image -->

  <!--How it works -->
    <section class="py-5 text-center container-fluid">
        <div class="row py-lg-3">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">How it works</h1>
                <p>
                    <p class="lead text-muted">Need some help to know what you need ? Discover and subscribe to your monthly customized vitamins routine.</p>
                </p>
          </div>
            <div class="container-fluid text-center ">
                <div class="row subcription-steps">
                    <div class="col-12 col-md-4">
                        <a href="">
                            <i class="fas fa-pencil-alt fa-3x icon"></i>
                        </a>
                        <h4 class ="how-to-title text-center bold">Tell us about yourself</h4>
                        <p class="text-center">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <a href="">
                            <i class="fas fa-pills fa-3x icon"></i>
                        </a>
                        <h4 class ="how-to-title text-center bold">Get your vitamins package</h4>
                        <p class="text-center">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <a href="">
                            <i class="fas fa-chart-line fa-3x icon"></i>
                        </a>
                        <h4 class ="how-to-title text-center bold">Follow up with your care</h4>
                        <p class="text-center">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Reviews -->
    <div class="container">
        <div class="row mb-2">
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 ms-4 shadow-sm h-md-150 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Basic Vits Subscription</strong>
                <h3 class="mb-0">Ramon's plan</h3>
                <div class="mb-1 text-muted">Joints</div>
                    <ul>
                        <li>Tumeric</li>
                        <li>Veggie Omega</li>
                        <li>Magnesium</li>
                        <li>Extra Batteries</li>
                    </ul>
                <p class="card-text mb-auto">Review : This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img class="testimony-picture" src="{{ MEDIA_URL }}testimony-1.jpeg" width = "250" height = "250" alt="a man smiling">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 ms-4 shadow-sm h-md-150 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Basic Vits Subscription</strong>
                <h3 class="mb-0">Florence's plan</h3>
                <div class="mb-1 text-muted">Immmunity</div>
                    <ul>
                        <li>Vitamin C</li>
                        <li>Superberry</li>
                        <li>Zinc</li>
                        <li>Probiotic Blend</li>
                    </ul>
                <p class="mb-auto">Review : This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img class="testimony-picture" src="{{ MEDIA_URL }}testimony-2.jpeg" width = "250" height = "250" alt="a woman smiling">
              </div>
            </div>
          </div>
        </div>
    </div>
   
   <section class="py-5 text-center container">
    <div class="row py-lg-6">
      <div class="col-lg-6 col-md-8 mx-auto">
        <a href="{% url 'products' %}" class="shop-now-button btn-primary btn-lg py-3">Connect with Basic Vits community</a>
      </div>
    </div>
</section>
<!--/.Reviews -->


    
{% endblock %}
