{% extends "base.html"%}
{% load static %}

{% block page_header %}

<div class="container header-container">
  <div class="row">
      <div class="col"></div>
  </div>
</div>

{% endblock %}

{% block content %}

  <!--Hero image -->
  <header class="container-fluid text-center h-100 header-container ">
    <div class="row ">
        <div class="col-12 hero-home ">
            <div class="mt-5 text-center ">
                <a href="" class="test-now-button btn-success btn-lg py-3">Take the test</a>
                
                <a href="{% url 'products' %}" class="shop-now-button btn-primary btn-lg py-3">Shop now</a>
            </div>
        </div>
    </div>
  </header>
  <!--Hero image -->

  <!--How it works -->
    <section class="py-5 text-center container">
        <div class="row py-lg-3">
          <div class="col-lg-6 col-md-8 mx-auto">
            <hr>
            <h2 class="fw-light">How it works</h2>
            <hr>
              <p>
                <p class="lead text-muted">Need some help to know what you need ? You can go straight to our shop or discover and subscribe to your monthly customized vitamins routine.</p>
              </p>
          </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <a href="">
                    <i class="fas fa-pencil-alt fa-3x icon"></i>
                </a>
                <h4 class ="steps-title text-center bold">Tell us about yourself</h4>
                <p class="text-center steps-text">
                  Tell us a little about yourself by taking the test. We’re good listeners. Our team of nutritionnists experts is happy to assist in building your customized plan.
                </p>
            </div>
            <div class="col-12 col-md-4">
                <a href="">
                    <i class="fas fa-pills fa-3x icon"></i>
                </a>
                <h4 class ="steps-title text-center bold">Get your vitamins package</h4>
                <p class="text-center steps-text">
                  Get your personalized recommendation depending of your needs and your health goal. Backed by science and delivered to you.
                </p>
            </div>
            <div class="col-12 col-md-4">
                <a href="">
                    <i class="fas fa-chart-line fa-3x icon"></i>
                </a>
                <h4 class ="steps-title text-center bold">Follow up with your care</h4>
                <p class="text-center steps-text">
                  Keep the conversation going. We are here at every stage of your journey to a better you. We’ll adjust as your health needs change.
                </p>
            </div>
        </div>
        </div>
          <div class="col-12 ">
              <div class="mt-5 text-center ">
                  <a href="" class="test-now-button btn-success btn-lg py-3">Take the test</a>
              </div>
          </div>
  </section>
<!--/. How it work-->

<!-- Community / Reviews -->
  <section class="py-5 text-center container-fluid">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <hr>
        <h2 class="fw-light">Connect</h2>
        <hr>
          <p>
            <p class="lead text-muted">Time to pivot ! Share your personal vitamin plan with the Basic Vits community and help others to evolve to a better self.</p>
          </p>
      </div>
    </div>
  </section>

    <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 ms-4 shadow-sm h-md-150 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-title-review">Basic Vits Subscription : Joints</strong>
                <h3 class="mb-0 persona-title">Luke's plan</h3>
                <div class="mb-1 text-muted">Full time dad</div>
                    <ul>
                        <li>Tumeric</li>
                        <li>Veggie Omega</li>
                        <li>Magnesium</li>
                        <li>Extra Batteries</li>
                    </ul>
                <p class="card-text mb-auto">Luke’s daughter keeps him busy, and he gives his best each time they play basket-ball together.</p>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img class="testimony-picture" src="{{ MEDIA_URL }}testimony-1.jpeg" width = "250" height = "250" alt="a man smiling">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 ms-4 shadow-sm h-md-150 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-title-review">Basic Vits Subscription : Energy </strong>
                <h3 class="mb-0 persona-title">Lucie's plan</h3>
                <div class="mb-1 text-muted">Tourist Guide</div>
                    <ul>
                        <li>Vitamin C</li>
                        <li>Superberry</li>
                        <li>Zinc</li>
                        <li>Probiotic Blend</li>
                    </ul>
                <p class="mb-auto">Lucie is always on the go to dicover the world and give herself 100 % when sharing with the people around her.</p>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img class="testimony-picture" src="{{ MEDIA_URL }}testimony-2.jpeg" width = "250" height = "250" alt="a woman smiling">
              </div>
            </div>
          </div>
        </div>
    </div>
   
   <section class="py-5 text-center container">
    <div class="row py-lg-6">
      <div class="col-lg-6 col-md-8 mx-auto">
        <a href="{% url 'products' %}" class="shop-now-button btn-primary btn-lg py-3">Connect with Basic Vits community</a>
      </div>
    </div>
</section>
<!--/. Community / Reviews -->


{% endblock %}
