/* .profile-background {
    background:url('/media/login_profile.jpeg') no-repeat center center fixed;
    background-blend-mode: multiply;
    background-size: cover;
    min-height: 250px;
    height: 100vh;

    display: flex;
    flex-direction :column;
    align-items: center;
    justify-content :center

} */


.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color:#033718;
}

#profile-update-form input::placeholder {
    color: #79a185;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #033718;
}

#id_default_country option:first-child {
    color: #79a185;
}