html {
    height: auto;
    margin: 0;
    width: 100%;
}

body {
    color: #333;
    font-size: 18px;
    font-family: 'Lora', sans-serif;
    margin: 0;

}

.hero-home {
    background:url('/media/homepage_background_image.jpeg') no-repeat center center fixed;
    background-blend-mode: multiply;
    background-size: cover;
    min-height: 250px;
    height: 100vh;
    
    display: flex;
    flex-direction :column;
    align-items: center;
    justify-content :center
}

.subcription-steps {
    padding: 12vh 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.subcription-step {
    flex: 0 1 30%;
} 



.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #a98a44;
}

* -------------------------------- Base template */

#topnav {
    position: sticky; 
    top: 0px;
    display: flex;

}

.main-logo {
    width: fit-content;
    color : #FC8D1E;
    text-decoration: none;
    position : relative;
    left: 50%;
    margin-left: -50px !important;
    display: block;
}


.nav-link {
    color :#033718;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:active,
.nav-linkfocus {
    color:#a98a44;
}


.test-now-button {
    background: #FC8D1E;
    color: white;
    min-width: 260px;
}

.test-now-button:hover,
.test-now-button:active,
.test-now-button:focus {
    background: #a98a44;
    color: white;
    text-decoration: none;
}

.shop-now-button {
    background: #033718;
    color: white;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #a98a44;
    color: white;
    text-decoration: none;
}


.how-to-title{
    color: #033718;
}


.testimony-picture {
    border-radius: 5%;
}

.update-link,
.remove-item {
    cursor: pointer;
}


* -------------------------------- Overlay */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}


* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
