{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 bg-title">
                <hr>
                <h2 class="logo-font mb-4">Quiz Management</h2>
                <h5 class="text-muted">Add a Question</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_question' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{form.as_p}}
                    <div class="text-right">
                        <a class="btn btn-outline-secondary text-uppercase" href="{% url 'quiz' %}">Cancel</a>
                        <button class="btn button text-uppercase" type="submit">Add Question</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}
