{% extends "base.html"%}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="overlay"></div>
<!-- Quiz intro -->
<div class="py-5 text-center container">
    <section class="row py-lg-3">
        <div class="col-lg-12 col-md-8 mx-auto">
          <div class="bg-title">
            <hr>
            <h2 class="fw-light">A routine tailored to you..</h2>
            <hr>
          </div> 
            <p class="lead text-muted">We'll help you create a health plan with vitamins, supplements, and more that help you feel your best today and support you long-term.</p>
        </div>
      </section>
<!--/. Quiz intro -->

<!-- Quiz details -->
<div class="container mt-sm-5 my-1 quiz-hero-home">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
        <!-- {% url 'view_quiz_id' question.id %} -->
        <!-- <div class="py-2 h5"><b>{{ view_quiz_id.question.name }}</b></div>
        <div class="py-2 h5"><b>{{ view_quiz_id.question.description }}</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"> 
            <label class="options">{{ view_quiz_id.options }}
                <input type="radio" name="radio"> 
                    <span class="checkmark"></span>
            </label>
        </div> -->
    </div>
    <div class="d-flex align-items-center pt-3">
        <div id="prev"> <button class="btn btn-primary">Previous</button> </div>
        <div class="ml-auto mr-sm-5"> <button class="btn btn-success text-uppercase">Next</button> </div>
    </div>
</div>
<!-- Quiz details -->
</div>     
{% endblock %}
