{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'contact/contact.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="bg-title">
                <hr>
                <h2 class="logo-font mb-4 text-center">Thank you {{ contact.full_name }} for your message</h2>
                <hr>
            </div>
            <p class="text-center">Your contact information and message was successfully submitted. Our team aime to reply you within one working day.</p>
        </div>
    </div>
</div>

<section class="py-5 text-center container">
    <div class="row">
      <div class="col-12">
        <a class="button btn-lg text-uppercase py-3" href="{% url 'contact_view' %}">Help Center</a>  
        <a class="button btn-lg text-uppercase py-3" href="{% url 'products' %}">Shop</a>   
      </div>
    </div>
  </section>

{% endblock %}