{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
                
        </div>
        <div class="row">
            {% for product in products %}   <!-- for category in products ?-->
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    {% if product.image %} 
                    <a href="">
                        <img src="{{ product_image }}" class="card-img-top" alt="{{ product_name }}">
                    </a>
                    {% else %}
                    <a>
                        <img src="noimage.png" class="card-img-top" alt="{{ product_name }}">
                     </a>
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{ product_name }}</h5>
                      <p class="card-text">{{ description_benefits }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">{{ product_health_goal}}</li>
                      <li class="list-group-item">{{ product_quantity }}</li>
                    </ul>
                    <div class="card-body">
                        <p class="mb-0 text-right">{{ product_price }}</p>
                      <a href="#" class="card-link">Add</a>
                    </div>
                  </div>
                  {% if forloop.counter|divisibleby:1 %}
                  <div class="col-12 d-sm-none mb-5">
                      <hr>
                  </div>
              {% endif %}                        
              {% if forloop.counter|divisibleby:2 %}
                  <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                      <hr>
                  </div>
              {% endif %}
              {% if forloop.counter|divisibleby:3 %}
                  <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                      <hr>
                  </div>
              {% endif %}
              {% if forloop.counter|divisibleby:4 %}
                  <div class="col-12 d-none d-xl-block mb-5">
                      <hr>
                  </div>
              {% endif %}
            {% endfor %} 
            </div>
        </div>
    </div>
{% endblock %}
